.dataChartCard {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  background-color: #2A3B4C;
  flex: 1;
}

.title {
  color: #4A8192;
  align-self: flex-start;
  text-transform: uppercase;
  margin: 0;
  font-size: 1vw;
  font-weight: 800;
}

.item {
  text-align: right;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0.619vw;
}

.textSection {
  flex: 1;
}

.chartSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
