.userInsightGenres {
  position: absolute;
  height: calc(100% - 50px);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dataOptions {
  padding-left: 0.4em;
}

.dateInput {
  outline: none;
  width: 6em;
  font-size: 0.7em;
}
