.areaChart {
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
}

.chart {
  height: 100%;
}

.stop1 {
  stop-color: red;
}

.stop2 {
  stop-color: red;
  stop-opacity: 0.3;
}

.stop3 {
  stop-color: red;
  stop-opacity: 0;
}
