.sideNav {
  width: 200px;
  background-color: rgba(54, 71, 89, 0.9);
}

.header {
  text-align: center;
}

.menu_item {
  padding: 1em;
  cursor: pointer;
  list-style: none;
}

.menu_item:hover {
  background-color: #2F3C52;
}

.menu_item:active {
  background-color: #2F3C52;
}

.menu_item_name {
  margin-left: 2em;
  color: #FFF;
}
