.sideNav {
  position: absolute;
  height: 100%;
  width: 200px;
  background-color: rgba(54, 71, 89, .9);
  /*background-image: linear-gradient(to bottom, #2f3a61, #202544);*/
  /*border-right: 1px solid #000;*/
}

.header {
  text-align: center;
}

.body {

}

.menu {

}

.menu_item {
  padding: 1em;
  cursor: pointer;
  list-style: none;
}
.menu_item:hover, .menu_item:active {
  background-color: #2f3c52;
}
.menu_item_name {
  margin-left: 2em;
  color: #fff;
}