.chartCard {
  background-color: rgba(39, 47, 57, 0.8);
  padding: 1em;
  border-radius: 5px;
  margin: 2px;
  display: inline-block;
  height: 300px;
  overflow: hidden;
}

.body {
  height: calc(100% - 50px);
}
