.dataCard {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #2A3B4C;
  flex: 1;
}

.number {
  align-self: flex-end;
  font-size: 2vw;
  margin-bottom: -25px;
}

.description {
  align-self: flex-end;
  font-size: 1vw;
}

.title {
  color: #4A8192;
  align-self: flex-start;
  text-transform: uppercase;
  margin: 0;
  font-size: 1vw;
  font-weight: 800;
}

.unit {
  font-size: 1.3vw;
}
