/* Global styles */

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body.fontLoaded {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

:global(#app) {
  background-color: #2F3C52;
  background-image:
    radial-gradient(
      circle at top,
      #4E5E6F,
      #354656 50%,
      #2F3C52
    );
  min-height: 100%;
  min-width: 100%;
  color: #FFF;
}

.insight {
  display: flex;
  flex-direction: row;
  position: absolute;
  height: 100%;
  width: 100%;
}

.wrapper {
  flex: 1;
  margin: 0 10px;
  position: relative;
}
